# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=c5d169353fba819909a3eca2579e19e8afcdc1b88f3c2dafbd22a1ca24ac1df6
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [5]:
from pyspark.sql import SparkSession, functions as f
from random import randint

In [7]:
spark = SparkSession.builder.appName("Exercise53").getOrCreate()

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [9]:
s1 = [randint(1,4) for _ in range(100)]
s2 = [randint(1,3) for _ in range(100)]
s3 = [randint(10_000,30_000) for _ in range(100)]

### Step 3. Let's create a DataFrame by joinning the Series by column

In [23]:
df = spark.createDataFrame(zip(s1, s2, s3), ["s1","s2","s3"])
df.show()

+---+---+-----+
| s1| s2|   s3|
+---+---+-----+
|  3|  3|23085|
|  2|  1|25198|
|  4|  1|15600|
|  4|  1|14215|
|  1|  1|22476|
|  3|  2|28961|
|  3|  1|14795|
|  1|  1|12925|
|  1|  3|10947|
|  3|  2|13311|
|  4|  3|21484|
|  1|  2|22818|
|  2|  2|25345|
|  4|  1|19430|
|  1|  3|23527|
|  2|  1|15825|
|  2|  1|25772|
|  2|  2|18217|
|  4|  3|25183|
|  4|  3|21319|
+---+---+-----+
only showing top 20 rows

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [24]:
df = df.select(f.col("s1").alias("bedrs"), f.col("s2").alias("bathrs"), f.col("s3").alias("price_sqr_meter"))

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [26]:
bigcolumn = df.select("bedrs").union(df.select("bathrs")).union(df.select("price_sqr_meter"))
bigcolumn.count()

300

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299