# Fictitious Names

### Introduction:

This time you will create a data again 

Special thanks to [Chris Albon](http://chrisalbon.com/) for sharing the dataset and materials.
All the credits to this exercise belongs to him.  

In order to understand about it go [here](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/).

### Step 1. Import the necessary libraries

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 50 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 53.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=4fb672e5653aac9d448586b561fa099edbea087f2ec4847d38e26637c72bb739
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
from pyspark.sql import SparkSession, functions as f

### Step 2. Create the 3 DataFrames based on the following raw data

In [2]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

In [10]:
spark = SparkSession.builder.appName("Exercise52").getOrCreate()

def flip_data(raw_data: dict):
  columns = list(raw_data.keys())
  data = [[*vals] for vals in zip(*raw_data.values())]
  return data, columns

data1 = spark.createDataFrame(*flip_data(raw_data_1))
data2 = spark.createDataFrame(*flip_data(raw_data_2))
data3 = spark.createDataFrame(*flip_data(raw_data_3))

### Step 4. Join the two dataframes along rows and assign all_data

1.   List item
2.   List item

In [18]:
all_data = data1.union(data2)
all_data.show()

+----------+----------+---------+
|subject_id|first_name|last_name|
+----------+----------+---------+
|         1|      Alex| Anderson|
|         2|       Amy| Ackerman|
|         3|     Allen|      Ali|
|         4|     Alice|     Aoni|
|         5|    Ayoung|  Atiches|
|         4|     Billy|   Bonder|
|         5|     Brian|    Black|
|         6|      Bran|  Balwner|
|         7|     Bryce|    Brice|
|         8|     Betty|   Btisan|
+----------+----------+---------+

### Step 5. Join the two dataframes along columns and assing to all_data_col

In [29]:
all_data_col = data1.join(data2, on="subject_id", how="full")

### Step 6. Print data3

In [12]:
data3.show()

+----------+-------+
|subject_id|test_id|
+----------+-------+
|         1|     51|
|         2|     15|
|         3|     15|
|         4|     61|
|         5|     16|
|         7|     14|
|         8|     15|
|         9|      1|
|        10|     61|
|        11|     16|
+----------+-------+

### Step 7. Merge all_data and data3 along the subject_id value

In [24]:
all_data.join(data3, on="subject_id").show()

+----------+----------+---------+-------+
|subject_id|first_name|last_name|test_id|
+----------+----------+---------+-------+
|         1|      Alex| Anderson|     51|
|         2|       Amy| Ackerman|     15|
|         3|     Allen|      Ali|     15|
|         4|     Alice|     Aoni|     61|
|         4|     Billy|   Bonder|     61|
|         5|    Ayoung|  Atiches|     16|
|         5|     Brian|    Black|     16|
|         7|     Bryce|    Brice|     14|
|         8|     Betty|   Btisan|     15|
+----------+----------+---------+-------+

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [28]:
data1.join(data2, on="subject_id").show()

+----------+----------+---------+----------+---------+
|subject_id|first_name|last_name|first_name|last_name|
+----------+----------+---------+----------+---------+
|         4|     Alice|     Aoni|     Billy|   Bonder|
|         5|    Ayoung|  Atiches|     Brian|    Black|
+----------+----------+---------+----------+---------+

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

In [30]:
all_data_col.show()

+----------+----------+---------+----------+---------+
|subject_id|first_name|last_name|first_name|last_name|
+----------+----------+---------+----------+---------+
|         1|      Alex| Anderson|      null|     null|
|         2|       Amy| Ackerman|      null|     null|
|         3|     Allen|      Ali|      null|     null|
|         4|     Alice|     Aoni|     Billy|   Bonder|
|         5|    Ayoung|  Atiches|     Brian|    Black|
|         6|      null|     null|      Bran|  Balwner|
|         7|      null|     null|     Bryce|    Brice|
|         8|      null|     null|     Betty|   Btisan|
+----------+----------+---------+----------+---------+